/* Layout for main container */
.main-layout {
    display: flex;
    height: 100vh;
    width: 100vw;
}

/* Main panel flex for map and density */
#main-panel {
    display: flex;
    flex-direction: column;
    width: 70vw;
    padding: 10px;
}

#map {
    height: 50%;
}

#density {
    width: 100%;
    height: 40%;

}

.axis-label {
    padding: 30;


.side-panel {
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #fff;
}

.side-title {
    margin-top: 40px;
}

.side-controls {
    margin-top: 40px;
    width: 90%;
    background: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}




